.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 3vw;
	background-color: #ffffff;
	height: 8vh;
	font-size: 2vh;
}

.logo {
	width: 6vw;
	height: auto;
}

.right {
	display: flex;
	gap: 2vw;
	font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.right span,
.right .bold {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

.right .bold {
	font-weight: bold;
}

.welcome {
    font-size: 2rem;
    padding-bottom: 20px;
}

.content {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.contentMain {
	width: 70%;
	height: 93%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentView {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
	box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}

.title {
	font-size: 2rem;
}

.auctionMain {
    width: 100%;
    height: 100%;
}

.auctionImage {
    float: left;
    width: 50%;
    height: 100%;
}

.auctionInfo {
    width: 50%;
    float: right;
    height: 100%;
}