.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 3vw;
	background-color: #ffffff;
	height: 8vh;
	font-size: 2vh;
}

.logo {
	width: 6vw;
	height: auto;
}

.right {
	display: flex;
	gap: 2vw;
	font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.right span,
.right .bold {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

.right .bold {
	font-weight: bold;
}

.menu {
	display: flex;
	gap: 2vw;
	font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.menuItem {
	text-decoration: none;
	color: #000;
}

.content {
	display: flex;
	width: 87vw;
	margin: 0 auto;
	justify-content: center;
}

.leftContent {
	width: 100%;
	margin-top: 7vh;
}

.rightContent {
	width: 30%;
	background-color: #3a3a3a;
	padding: 2vh;
	border-radius: 0.5vh;
	height: 86vh;
	position: relative;
	left: 5vw;
	align-self: flex-start;
}

.welcome {
	font-size: 3.5vh;
}

.titlDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.auctionTitle {
	font-size: 2.5vh;
	font-family: 'GmarketSansTTF', sans-serif;
	font-weight: bold;
	margin-top: 4vh;
	margin-bottom: 2vh;
}

.requestTitle {
	font-size: 2.5vh;
	font-family: 'GmarketSansTTF', sans-serif;
	font-weight: bold;
	margin-top: 6vh;
	margin-bottom: 2vh;
}

.auctionSection {
	display: flex;
	width: 100%;
	overflow-x: overlay;
	gap: 2vw;
}

.auctionItem {
	border: 0.2vh solid #ddd;
	box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
	border-radius: 1vh;
	padding: 2vh;
	text-align: center;
	flex-shrink: 0;
	font-size: 2vh;
	width: 250px;
}

.actionItemtext {
	font-size: 1.1rem;
}

.actionItemtextTitle {
    font-size: 1.3rem;
    font-weight: bold;
    color: dodgerblue;
    margin: 0;
    margin-bottom: 13px;
}


.actionItemtextPrice {
	font-size: 1.1rem;
	font-weight: bold;
	text-align: left;
	color: blue;
}

.bidButton {
	background-color: black;
	color: white;
	font-size: 1.2vh;
	width: 80px;
	height: 30px;
	border: none;
	cursor: pointer;
	border-radius: 0.5vh;
}

.requestTable {
	width: 93%;
	border-collapse: collapse;
	margin-top: 2vh;
	margin-bottom: 5vh;
}

.requestTable th,
.requestTable td {
	border-bottom: 0.1vh solid #ddd;
	padding: 1vh;
	text-align: left;
	font-size: 2vh;
}

.requestTable th {
	background-color: #ffffff;
}

.rightTitleText {
	color: #ffffff;
	font-size: 2.5vh;
	margin-top: 4vh;
}

.rightTitleText2 {
	color: #ffffff;
	font-size: 2.5vh;
	margin-top: 4vh;
}

.storeInfo {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	min-width: 420px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
}

.avatar {
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 2vw;
	margin-left: 1vw;
	margin-bottom: 11vh;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.details {
	text-align: left;
}

.details h2 {
	font-size: 1.2rem;
	margin-bottom: 1vh;
}

.details p {
	font-size: 1rem;
	margin-bottom: 1vh;
}

.separator {
	border-bottom: 0.1vh solid #ddd;
	width: 100%;
	margin: 2% 0;
}

.keywords {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2vh;
	margin-top: 1vh;
}

.keywords span {
	background-color: #f1f1f1;
	padding: 0.6vh 1vh;
	border-radius: 0.5vh;
	font-size: 1.5vh;
}

.completionInfo {
	font-size: 1.6vh;
	margin-top: 1.5vh;
}

.completionInfo2 {
	font-size: 1.6vh;
	margin-left: 1.2vw;
}

.salesGraph {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 1.5vh;
	border-radius: 1vh;
	box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
	margin-top: 4vh;
}

.salesGraphImage {
	width: 80%;
	height: auto;
}

.statusInProgress {
	color: blue;
}

.statusCompleted {
	color: red;
}
