@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('./assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSansTTFMedium';
  src: url('./assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
}