@import url('https://fonts.googleapis.com/css2?family=Italiano');

body {
    margin: 0;             /* 기본 마진 제거 */
    overflow-y: hidden;     /* 스크롤 막음 */
}

.outer {
    height: 100vh;      /* 스크롤 작동 */
    overflow-y: auto;   /* 스크롤 제어 */
}

.outer::-webkit-scrollbar {
    display: none;      /* 스크롤바 숨김 */
}

.inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}

.menuBar {
    width: 1920px;  /* 100vh 10vw */
    height: 110px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menubarleft {
    margin: 8px;
    text-align: left;
}

.menubarright {
    margin: 8px;
    text-align: right;
    
}

.italianno {
    font-family: 'Italiano', cursive; /* 'Italiano'에는 선택한 폰트명이 들어갑니다 */
  }

.background {
    width: 1920px;
    height: 815px;
    background-image: url(./image/bg1.png);
}

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #000000;
}